@media screen and (max-width:900px){

    nav {
        text-align: center;
        padding: 30px 0 30px 0 ;
        margin-bottom: 20px;
    }

    nav > a{
        margin-right: 20px;
    }
    
    .title-into-wave{
        padding-top: 15%;
        font-size: 40px;
    }

    .text-header h1{
        font-size: 50px;
    }

    .wave-one p{
        background: #1c4caa;
        padding-top: 3%;
        padding-bottom: 6%;
        margin-top: -3%;
        margin-bottom: 0%;
    }

    .container-laboratory{
        padding-left: 10%;
        padding-right: 10%;
    }
    .container-laboratory img{
        width: 200px;
        height: 200px;
    }
    .laboratorio {
        padding-top: 0%;
    }
    .piedepagina{
        margin-top: -130px;
    }
    .hover-campeones {
        margin-left: 0%;
    }
}
@media screen and (max-width:500px){

    nav {
        text-align: center;
        padding: 30px 0 30px 0 ;
        margin-bottom: 20px;
    }

    nav > a{
        margin-right: 20px;
        font-size: 10px;
    }
    
    .text-header {
        padding: 0% 0% 26% 10%;
    }

    .text-header h1{
        font-size: 30px;
        padding-top: 0%;
    }

    .text-header h2{
        font-size: 15px;
        padding-top: 0%;
    }

    .text-header button{
        font-size: 15px;
        padding: 5px 30px 5px 30px;
        margin-bottom: -25%;
    }

    .title-into-wave{
        padding-top: 13%;
        font-size: 20px;
    }

    .wave-one p{
        background: #1c4caa;
        padding-top: 6%;
        padding-bottom: 15%;
        margin-top: -8%;
        margin-bottom: 1%;
        font-size: 15px;
    }

    .quienessomos-img{
        margin-top: 20px;
        margin-right: 5px;
    }

    .quienessomos-img img {
        height: 100px;
        width: 100px;
    }
    .hover-campeones{
        height: 100px;
        width: 100px;
        margin-left: 17%;
    }

    .container-laboratory{
        padding-left: 10%;
        padding-right: 2%;
    }
    .container-laboratory img{
        width: 100px;
        height: 100px;
        margin-right: 2%;
    }
    .laboratorio {
        padding-left: 2%;
    }
    .laboratorio h1{
        font-size: 20px;
    }
    .laboratorio p{
        font-size: 15px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .laboratorio button{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 4px;
    padding-bottom: 4px;
    background: #073aa5;
    color: white;
    border-radius: 15px;
    cursor: pointer;
    }

    
    .phoebe-fazier{
        width: 100%;
        height: 385px;
    }
    .phoebe-fazier img{
        width: 200px;
        height: 110px;
        margin-top: 15%;
        margin-left: 30%;
        margin-right: 30%;
    }
    .phoebe-fazier p{
        font-size: 15px;
    }
    .phoebe-fazier h2{
        font-size: 20px;
    }
    .contactos-x h2{
        font-size: 30px;
    }
    .contactos-x p{
        font-size: 15px;
    }
    .contactos-x input{
        background: #d9d7d7;
        color: black;
        padding-top: 3px;
        padding-bottom: 3px;
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 15px;
    }
    .contactos-x button{
        background: #1b4ba9;
        color: white;
        padding: 3px;
        border-radius: 15px;
        border-color: #1b4ba9;
        margin-left: 0px;
        margin-top: 5px;
        cursor: pointer;
    }
    .piedepagina{
        margin-top: -320px;
        font-size: 15px;
    }
    .title-final{
        font-size: 15px;
    }
}